html {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  padding: 20px;
  max-width: 350px;
  background: #dfe1e6;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}

.people {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.people li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.people label {
  flex: 1;
  cursor: pointer;
}

.people input {
  display: none;
}

.people input + label:before {
  content: '⬜️';
  margin-right: 10px;
}

.people input:checked + label:before {
  content: '🌮';
}

.add-person {
  margin-top: 20px;
}

.add-person input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.people-list {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #dfe1e6;
  border-radius: 5px;
}
