html {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 3px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #ec9488;
  transition: all 0.3s ease;

  &:hover {
    color: #ec9488;
    border-color: currentColor;
    background-color: white;
  }
  &:focus {
    outline: none;
  }
}

.site-header {
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3px;
}

.site-header > * {
  padding: 4px;
}

.search-box {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 3px;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  color: hsla(0, 0%, 100%, 0.5);
  float: left;
  font-size: 13px;
  height: 32px;
  line-height: 19px;
  margin: 0;
  outline: none;
  padding-left: 8px;
  padding-right: 8px;
  transition: all 0.15s;
  width: 180px;
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.4);
  }
  input {
    background-color: #ebecf0;
    border: none;
    // box-shadow: inset 0 0 0 2px #dfe1e6;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    color: hsla(0, 0%, 100%, 0.7);
    float: left;
    font-size: 13px;
    height: 24px;
    line-height: 19px;
    margin: 0;
    outline: none;
    transition: width 0.15s;
    width: 140px;
  }

  img {
    width: 24px;
    height: auto;
  }
}
.search-box__open {
  width: 380px;
  input {
    width: 90%;
  }
}
.image-home {
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.3);
  box-shadow: none;
  color: #fff;
  display: flex;
  height: 32px;
  width: 32px;
  margin: 4px;
  padding: 0;
  transition: 0.1s ease;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.4);
  }
  img {
    width: 24px;
    height: auto;
  }
}

.center-logo {
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  h2 {
    color: white;
    font-weight: 800;
  }
}

.add-person-dialogue {
  text-align: center;
}

.container {
  position: relative;
  flex-grow: 1;
}

.container-canvas {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.wrapper {
  padding: 20px;
  width: 272px;
  background: #dfe1e6;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  height: 100%;
  margin: 8px;
  transition: all 0.5s ease;
}

h2 {
  text-align: left;
  margin: 0;
  font-weight: 200;
}

.people {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.people li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.people label {
  flex: 1;
  cursor: pointer;
}

.people input {
  display: none;
}

.people input + label:before {
  content: '⬜️';
  margin-right: 10px;
}

.stage-select {
  height: 34px;
  border-radius: 3px;
  width: 219px;
}

.add-person {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  height: 0;
  overflow: hidden;
  transition: all 0.15s;
}

.add-person_open {
  height: 320px;
}

.add-person input,
select {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px;
  border-radius: 3px;
}

.update-person input,
select {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px;
  border-radius: 3px;
}

.people-list {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  border: 1px solid gray;
  p {
    padding: 5px;
    margin: 0;
  }
  span {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 5px;
  }
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.7);
  }
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #dfe1e6;
  border-radius: 5px;
}
